.caja {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    padding: 10px;
    max-width: 600px;
}

.caja > .avatar {
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caja > .avatar > img {
    border-radius: 50%;
    padding: 15px;
}

.caja > .presentacion {
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.caja > .presentacion > h3,p {
    margin: 10px;
}

.caja > .presentacion > p {
    text-align: justify;
}

@media (max-width:600px) {
    .caja {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    .caja > .avatar {
        border-radius: 10px 10px 0 0;
    }
    .caja > .presentacion {
        border-radius: 0 0 10px 10px;
    }

}